<h1>List of our favourite fabulously famous people</h1>
<% @results.each do |person| %>
  <p><a href="/people/<%= person['id'] %>"><%= "#{person['id']}: #{person['first_name']} #{person['last_name']}" %></a></p>
<% end %>
<p>
  <a href="/people/new"><button>Play God</button></a>
</p>
