<form action="/people" method="POST">
  <p>
    <label>First Name</label>
    <input type="text" name="first_name"/>
  </p>
  <p>
    <label>Last Name</label>
    <input type="text" name="last_name"/>
  </p>
  <p>
    <label>Image SRC</label>
    <input type="text" name="img_src"/>
  </p>
  <input type="submit" value="Create Person"/>
</form>
