* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

nav {
  width: 100%;
  overflow: hidden;
  background-color: #EFEFEF;
  height: 60px;
  line-height: 50px;
}

nav h1 {
  margin: 0;
}

input {
  line-height: 25px;
  width: 250px;
}

button {
  height: 30px;
  background-color: red;
  color: white;
}

.col {
  float: left;
  padding: 0 10px;
}

.col-4 {
  width: 50%;
  width: -webkit-calc( 100% / 2 );
  width: -moz-calc( 100% / 2 );
  width: -ms-calc( 100% / 2 );
  width: -o-calc( 100% / 2 );
  width: calc( 100% / 2 );

  /*border: 1px solid #EFEFEF;*/
}

.content {
  overflow: auto;

  height: -webkit-calc( 70vh);
  height: -moz-calc( 70vh);
  height: -ms-calc( 70vh);
  height: -o-calc( 70vh);
  height: calc( 70vh);
}

.cover {
  height: 200px;
  width: 200px;
  display: inline-block;
}

.content img {
  display: block;
  max-height: 50%;
  margin: 5px auto;
}
