body {
  background-image: url(/Users/jaredcolby/wdi/homework/jared_colby/week02/excercises/html-labs/busyhands/images/bg_body.jpg);

}

header {
  background-color: black;



}

nav {

}

ul{

}


.blurb {
  background-image: url(/Users/jaredcolby/wdi/homework/jared_colby/week02/excercises/html-labs/busyhands/images/bg_blurb.jpg);


}

section{
  background-image: url(/Users/jaredcolby/wdi/homework/jared_colby/week02/excercises/html-labs/busyhands/images/photobanner.png);





}
