<form action="/cars" method="POST">
  <p>
    <label>Make</label>
    <input type="text" name="make"/>
  </p>
  <p>
    <label>Model</label>
    <input type="text" name="model"/>
  </p>
  <p>
    <label>ImgSRC</label>
    <input type="text" name="img_src"/>
  </p>
  <input type="submit" value="Create car"/>
</form>
