<h1>Homepage</h1>
<!--
<a href="/animals?animals_length=1">Length = 1</a><br/>
<a href="/animals?animals_length=2">Length = 2</a><br/>
<a href="/animals?animals_length=3">Length = 3</a><br/>
<a href="/animals?animals_length=4">Length = 4</a><br/>
 -->


<!-- when /animals/:animals_length is used -->
<!--
 <a href="/animals/1">Length = 1</a><br/>
 <a href="/animals/2">Length = 2</a><br/>
 <a href="/animals/3">Length = 3</a><br/>
 <a href="/animals/4">Length = 4</a><br/>
 -->

<form method="GET" action="/movies">

<label>Movie DB</label>
<input type="textfield" name="title">
<input type="submit" value="Search for a movie!">

</form>
