<!DOCTYPE html>
<html>
<head>
    <title>Movie DB</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/movies">Movies</a></li>
      </ul>
    </nav>

    <%= yield %>


</body>
</html>
