<h1>Home Page</h1>
<!-- <a href="/animals?animals_length=1">Length = 1 </a>
<a href="/animals?animals_length=2">Length = 2 </a>
<a href="/animals?animals_length=3">Length = 3 </a>
<a href="/animals?animals_length=4">Length = 4 </a> -->


<form method="GET"action="/animals" >
  <label>length of Animal Array</label>
  <input type="text" name="animals_length"/>

  <input type="submit" value="Show me the animals!"/>
</form>
