<!DOCTYPE html>
<html>
<head>
    <title>Our Basic Sinatra App</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/animals">Favourite Animals</a></li>

      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
