<h1>Create Your Music Profile</h1>

<form action="/music" method="POST">
  <p>
    <label>Name</label>
    <input type="text" name="name"/>
  </p>
  <p>
    <label>Genre</label>
    <input type="text" name="genre"/>
  </p>
  <p>
    <label>Image Source</label>
    <input type="text" name="img_src"/>
  </p>
  <p>
    <label>Site URL</label>
    <input type="text" name="music_url"/>
  </p>
  <p>
    <label>Top Hits</label>
    <input type="text" name="top_hit"/>
  </p>
  <input type="submit" value="Create Profile"/>
</form>
