<h1>Music Search</h1>

<form method="GET" action="/music/search/genre">
  <p>
    <label>Search by Genre</label>
    <input class="field" type="text" name="genre"/>
    <input class="button" type="submit" value="Find profiles by this genre"/>
  </p>
</form>

<form method="GET" action="/music/search/name">
  <p>
    <label>Search by Name</label>
    <input class="field"type="text" name="name"/>
    <input class="button" type="submit" value="Find profiles by this musician name"/>
  </p> 
</form>
