<p><%= "The secret number is #{@number}." %></p>
<p><%= "You guessed it is #{params[:guess_number]}." %></p>

<% if @number == params[:guess_number] %>
<p><%= "You guessed it right." %></p>
<% else %>
<p><%= "Guess again." %></p>
<% end %>
