
<h1>Home Page</h1>

<form action="/poster_view" method="GET">
  <label>Enter movie name</label>
  <input type="textfield" name="title" value="">
  <input type="submit" value="Get Searching!">
</form>
