<!DOCTYPE html>
<html>
<head>
    <title>OMDB</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/show">Movies</a></li>
      </ul>
    </nav>

    <%= yield %>

</body>
</html>
