* {
  margin:0;
  padding:0;
}

body {
  font-family: sans-serif;
  background-color: #EDEFED;
  margin: 0px;
  padding: 0px;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #000000;
  height: 80px;
}

nav li {
  display: inline-block;
  padding: 30px 10px 30px 60px;
  margin: 0px;
}

nav a:link {
  color: #FFFFFF;
  text-decoration: none;
}

#logo {
  float: left;
  margin: 20px 20px 20px 80px;
}

#social-media {
  float: right;
  margin: 0px 20px 20px 20px;
}

.photobanner, .imageshadow {
  text-align: center;
  width: 960px;
  padding: 0px;
  margin: 0px 20px 0px 80px;
}

.imageshadow {
  position: relative;
  top: -5px;
}

/*position: relative ? to change background*/
.container {
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  width: 960px;
  margin: 0px 0px 0px 80px;
  padding: 10px;
}

#blurb{
  width: 70%;
  display: inline-block;
  padding: 0px 15px;

}
#button {
  float: right;
}

button {
  border-radius: 10px;
  color: #FFFFFF;
  padding: 3px 50px;
  text-shadow: 1px 1px 2px gray;
  border: none;
  text-decoration: none;
  background: #000FFF;
  background: -webkit-linear-gradient(bottom, #000FFF, #0FFFFF);
  background: -o-linear-gradient(bottom, #000FFF, #0FFFFF);
  background: -moz-linear-gradient(bottom, #000FFF, #0FFFFF);
  background: linear-gradient(bottom, #000FFF, #0FFFFF);
}

button h2 {
  line-height: 90%;
  font-weight: normal;
  /*font-size: */
}

button p {
  line-height: 20%;
}

#home-boxes {
  width: 960px;
  margin: 0px 0px 0px 80px;

}

.home-box {
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin: 10px 10px 10px 0px;
}

.home-box img {
  padding: 1px;
  border: 5px solid #D3D3D3;
}

footer {
  background-color: #000000;
  color: #808080;
  height: 250px;
}

.box-footer {
  width: 960px;
}

.box-footer:first-of-type {
    display: block;
    margin-top: 50px;
 }

.box-footer .blogroll ul {
  /*display: none;*/
}

.box-footer .blogroll li {
  display: inline-block;
  margin: 0px 5px;
}
