<!-- this is the main layout file used by the other views  -->
<!DOCTYPE html>
<html>
  <head>

    <title>Drinks Page using Active Record</title>
    <!-- by default, it will look for the css file in the public folder, so I don't have to mention it -->
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>

    <%= yield %>
  </body>
</html>
