<h1>Welcome to <%= @country.name %>!</h1>
<% if @current_user %>
  <%= link_to "Edit", edit_country_path(@country.id) %>

<%end%>

<ul>
  <% @country.cities.each do |city| %>
    <li><%= link_to city.name, city_path(city.id) %></li>
  <%end%>
</ul>
<ul>
  <li><%= link_to "add a new city!", new_city_path(country_id: @country.id) %></li>
</ul>
