body {
  background-image: url("https://cdn1.vox-cdn.com/thumbor/J43GC_CBD8o33Y3oV6pwQPYi6mw=/0x22:806x559/1280x854/cdn0.vox-cdn.com/uploads/chorus_image/image/49977341/gt.0.0.jpg");
  background-size: cover;
}

h1 {
  color: blue;
}
