<form action="/drinks" method="POST">
  <p>
    <label>Drink Name</label>
    <input type="text" name="drink_name"/>
  </p>
  <p>
    <label>Drink Origin</label>
    <input type="text" name="drink_origin"/>
  </p>
  <p>
    <label>Image SRC</label>
    <input type="text" name="img_src"/>
  </p>
  <input type="submit" value="Create Drink"/>
</form>
