<div class="container">

  <h1>Movie Database Search</h1>

  <form method="GET" action="/movie">
    <label>Search for a movie</label>
    <input type="text" name="title"/>
    <input type="submit" value="Give me this movie info!"/>
  </form>


  <form method="GET" action="/search">
    <label>Search for movies</label>
    <input type="text" name="title"/>
    <input type="submit" value="Give me more movie info!"/>
  </form>

</div>
