<!DOCTYPE html>
<html>
<head>
    <title>Movie Search Site - NOT IMDB</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
</head>
<body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>

    <%= yield %>

</body>
</html>
