


<!-- # <% @results.each do |motorcycles| %>
#   <p><a href="/motorcycles/<%= motorcycles['id'] %>"><%= "#{motorcycles['id']}: #{motorcycles['make']} #{motorcycles['model']}" %></a></p>
# <% end %>
# <p>
#   <a href="/motorcycles/new"><button>add new ride!</button></a>
# </p> -->
