<!DOCTYPE html>
<html>
  <head>
      <title>postie-bikes</title>
      <link rel="stylesheet" href="/styles/style.css">
      <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  </head>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/motorcycles/club_members">Club Members</a>
      <a href="https://en.wikipedia.org/wiki/Honda_CT_series#Trail_Cub_.2F_Hunter_Cub">Wiki</a>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer> <p>Copyright &copy; 2017 - All Rights Reserved - <a href="https://www.linkedin.com/in/jared-colby">Jared Colby</a></p>
  </footer>
</html>
