<div class="container">

<form action="/motorcycles" method="POST">
  <p>
    <label>Owner</label>
    <input type="text" name="owner"/>
  </p>
  <p>
    <label>Make</label>
    <input type="text" name="make"/>
  </p>
  <p>
    <label>Model</label>
    <input type="text" name="model"/>
  </p>

  <p>
    <label>Add Image</label>
    <input type="text" name="image_src"/>
  </p>
  <input type="submit" value="Submit Motorcycle"/>
</form>

</div>
