<h1>Games on Rails</h1>

<h3>Pick a game</h3>

<ul>
  <li><%= link_to "Magic 8 Ball", magic_game_path %></li>
  <li><%= link_to "Secret Numbers", secret_game_path %></li>
  <li><%= link_to "Rock Paper Scissors", rock_game_path %></li>
</ul>
