<h1>Home Page</h1>
<p> Search one specific movie </p>
<form method="GET" action="/movie">
  <label>Movie Selection</label>
  <input type="textfield"  name="movie_title"/>

  <input type="submit" value"Find Movie">
</form>



<p> Not sure about the title</p>
<form method="GET" action="/movie_search">
  <label>Movie Selection</label>
  <input type="textfield"  name="movie_search"/>

  <input type="submit" value"Search movies">
</form>
