/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
    font-size: 12px;
    line-height: 17px;
    font-family: "Times New Roman", serif;
    color: #656565;
    margin: 0px 50px;
    width: 960px;  


}

#container {

      padding: 50px 100px ;
      align: center;
      max-width: 80%;

}

img.bigPics {
    width: 100%;
}

img.smallPics {
  width: 24%;
  border: 3px solid #afaeae;
}

img.logo {
  max-width: 10%;
}


p {
  overflow: hidden;
}

#blue{
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #5096d3;
}

a {
  color: #5096d3;
}
