.box {
  display: inline-block;
  border: 1px solid black;
  width: 70px;
  height: 70px;
}

.row {
  display: block;
}

#board {
  border: 4px solid black;
  padding: 5px 0 0 5px;
  /*sum of spacing between boxes: 20px*/
  width: 230px;

}

h1 {
  text-align: center;
}
