@import url('https://fonts.googleapis.com/css?family=Orbitron|Yrsa');

nav {
  background-color: grey;
  height: 40px;
  padding-top: 20px;
}
h1 {
  font-size: 75px;
  font-family: Orbitron, sans-serif;
  text-align: center;
  text-shadow: 4px 4px 8px;
}
p {
  font-size: 20px;
  font-family: Yrsa, sans-serif;
  padding: 0px 20px 20px 20px;
}
footer{
  text-align: center;
  color: red;
}
a {
  margin-left: 22%;
  color: white;
  margin-top: 50px;
  font-size: 20px;
  text-decoration: none;

}
body {
  background-color: #e2d6c0;
}
.container {
  background-color: white;
  margin: 20px 100px;
  position: absolute;
  width: 80%;
  height:60%;
}

#imgperl {
  /*display: block;*/
  /*text-align: center;*/
  /*margin: auto;*/
  /*margin-right: auto;*/
}

#imgperl > img{
  margin: 0 auto;
  display: block;
}


#larry {
  float: right;
  margin: 10px 10px;
}
.container2 {
  margin: 40px;
  background-color: white;
}
h3 {
  font-size: 40px;
  text-align: center;
}
iframe {
  margin-left: 20%;
}
.ui_segment{
  height: 100px;
  display: inline-block;
}

h2 {
  padding: 10px 20px 10px 20px;
}
